/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 100px;
    box-sizing: border-box;
      font-family: "Montserrat";
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
 .navbar-brand{
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
 }
 .nav-item{
   padding: 0 18px;
 }
 .nav-link{
   font-size: 1.2rem;
   font-family: "Montserrat";
   font-weight: lighter;
 }
.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: white;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}


/* about section*/
.abouter{
  text-align: center;
  padding: 7% 22%;
  line-height: 1.5;
}

.founder-column{
  padding: 0 5%;
    text-align: center;
}
.f-img{
  border-radius: 100%;
}
.founders{
    background-color:#116466;
    color:#eeeeee;
}
.card-header{
    background-color:#2C3531;
    color:#eeeeee;
}
.card-body{
    background-color:#fff;
    color:#2C3531;
}
.social-icon{
margin: 20px 10px;
}
.aboute{
  text-align: center;
  padding: 7% 15%;
  line-height: 1.5;
}
.social{
margin: 20px 10px;
}
.bottom{
  background-color:#116466;
  color:#eeeeee;
}
footer{
  background-color:#2C3531;
  color:#eeeeee;
}
@media(min-width:992px){
  .founders{
    padding: 7% 5% 7% 20%;

  }
  .imgw{
    style="width:80%;
  }
}
@media(max-width:992px){
  .foundersi{
    padding: 7% 15%;

  }
  .imgw{
    style="width:100%;
  }

}
